@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import '@splidejs/svelte-splide/css';
@import 'tailwindcss';

@theme {
    --color-primary: #0B5E91;
    --color-accent: #BAA971;
    --font-philosopher: 'Philosopher', sans-serif;
    --font-instrument: 'Instrument Sans', sans-serif;
}